/* general
----------------------------------------*/
@mixin vertical-align {
  position: relative;
  top: 60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content {
  width: 100%;
  height: 300px;
}
form {
  display: inline-block;
  width: 50%;
  height: 55px;
  @include vertical-align();
}


/* text general
----------------------------------------*/
.no-wrap{white-space:nowrap!important;}

.pre{white-space:pre!important;}

.ellipsis{overflow:hidden!important; text-overflow:ellipsis!important;}

.line-height-reset{line-height:normal;}
.line-height-1{line-height:1!important;}

.text-uppercase{text-transform: uppercase}
.text-lowercase{text-transform: lowercase}

/* text alignemnt
----------------------------------------*/
$text-align: 'center', 'justify';
@each $i in $text-align{
  .text-#{$i}{
    text-align: $i !important;
  }
};

$align: (center, justify);

@each $item in $align {
  .text-#{$item} {
    text-align: $item;
  }
}

/* text font size
----------------------------------------*/
$max: 100;
@for $i from 7 through $max / 2 {
  @if($i > 20){
    $value: $i * 2 - 20;
    .font-size-#{$value} { font-size: $value+px; }
  }@else{
    $value: $i;
    .font-size-#{$value} { font-size: $value+px; }
  }
}

/* text font size
----------------------------------------*/
.text-white{color:white !important;}
.text-blue{color:blue !important;}
.text-red{color:red !important;}

/* GAPS
----------------------------------------*/
$horizontal-gaps: 'hgap' !default;
$vertical-gaps: 'vgap' !default;

@for $i from 5 through 30{
  .#{$horizontal-gaps}-#{$i}{
    width: 0px + $i !important;
  }
};

@for $i from 5 through 30{
  .#{$vertical-gaps}-#{$i}{
    height: 0px + $i !important;
  }
};

/* Others
----------------------------------------*/
.no-click{ pointer-events:none;}
.no-click > *{ pointer-events:all;}
