.form{
  display: inline-block !important;
  width: 100% !important;
  height: 0 !important;
  position: relative !important;
  top: 0px!important;
  -webkit-transform: translateY(-50%)!important;
  transform: translateY(-50%)!important;
}


