.search {
  height: 500px;
  width: 100%;
  display: table;
}

.search.details {
  background: url(../assets/hero_home_bg_1.svg) center bottom no-repeat #3f4079;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
  margin-top: 10%;
}

@media (max-width: 991px) {
  .search .content {
    padding: 0 30px;
  }
  .search .content {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    font-size: 1.3125rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    background-color: #3e3f77;
    background-color: rgba(63, 64, 121, .9);
  }
}


#custom-search-input {
  top: 0;
  padding: 0;
  width: 650px;
  margin: auto;
  position: relative;
}

.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

#custom-search-input .search-query {
  width: 85%;
  height: 50px;
  padding-left: 20px;
  border: 0;
  //-webkit-border-radius: 3px;
  //-moz-border-radius: 3px;
  //-ms-border-radius: 3px;
  //border-radius: 3px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,.35);
  -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,.35);
  box-shadow: 0 0 50px 0 rgba(0,0,0,.35);
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
  color: #333;
}
