<template>
      <div id="idkey" class="tags-input" data-name="tags-input">
        <span v-for='(tag, idx) in tags' :key="idx" class="tag">{{ tag }}
          <span class="close" @click="removeTag(idx)"></span>
        </span>
        <input type="text" class="main-input" v-model="value" @keyup="eventTag"/>
      </div>

</template>

<script>

  const vm ={
    //tags:[],
    value:"",
    keys:[],
  };

  export default {
    name: "InputTagComponent",
    props:['idkey','tags','placeholder'],
    data(){
        return vm;
    },
    methods: {
      eventTag(e) {
        let self = this;
        let keyCode = e.which || e.keyCode;

        //Press backspace to remove tag.
        if (keyCode === 8 && this.value.length === 0 && this.tags.length > 0) {
          this.keys.push(keyCode)
          this.removeTag(this.tags.length - 1);
        }

        //Press enter to add tag
        if (keyCode === 13) { // 13 is enter
          this.keys.push(keyCode)
          let t = this.value;
          let filteredTag = this.filterTag(t);
          if (filteredTag.length > 0)
          //this.tags.push(filteredTag);
            self.addTag(filteredTag);
          this.value = "";
        }

        if(keyCode ===188) {
          this.keys.push(keyCode)
          let enteredTags = this.value.split(',');
          if (enteredTags.length > 1) {
            console.log("to dentro")
            enteredTags.forEach(function (t) {
              let filteredTag = self.filterTag(t);
              if (filteredTag.length > 0)
                self.addTag(filteredTag);
            });
          }
        }
      },

      addTag(tag) {
        this.tags.push(tag);
        this.value = "";
      },

      removeTag(index) {
        let tag = this.tags[index];
        this.tags.splice(index, 1);
      },

      filterTag(tag) {
        return tag.replace(/[^A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ0-9 ]/g, '').trim().replace(/\s+/g, '-');
        //return tag.replace(/[^\w -]/g, '').trim().replace(/\W+/g, '-');
      },
    }
  }
</script>

<style scoped>
  .tags-input {
    border: 1px solid #f0f0f0;
    display: inline-block;
  }

  .tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
  }

  .tags-input .tag:hover {
    background-color: #3af;
    color: white;
  }

  .tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
  }

  .tags-input .tag .close:hover::after {
    color: red;
  }

  .tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
  }
</style>
