<template>
  <section class="search details text-center">
      <div class="content">
        <h3 class="font-size-42 text-white text-uppercase" >{{$t('search.makeYouSearch')}}</h3>
        <span class="font-size-22 text-white">{{ $t('search.title') }} </span>
        <form name="search_products" action="/search" method="get" netlify>
          <div id="custom-search-input">
            <div class="input-group">
              <input type="text" class=" search-query" v-model="searchInput" placeholder="Ex. CRM, Chatbot, Email marketing ....">
              <button type="submit" class="btn_search">{{ $t('search.btnSearch') }}</button>
            </div>
            <!--<ul>-->
              <!--<li>-->
                <!--<input type="radio" id="all" name="radio_search" value="all" checked>-->
                <!--<label for="all">All</label>-->
              <!--</li>-->
              <!--<li>-->
                <!--<input type="radio" id="doctor" name="radio_search" value="doctor">-->
                <!--<label for="doctor">CRM</label>-->
              <!--</li>-->
              <!--<li>-->
                <!--<input type="radio" id="clinic" name="radio_search" value="clinic">-->
                <!--<label for="clinic">ChatBot</label>-->
              <!--</li>-->
            <!--</ul>-->
          </div>
        </form>
      </div>
    <!-- /Search -->
  </section>
</template>

<script>
  const vm ={ searchInput: ""};
  export default {
    name:"SearchComponent",
    data(){
      return vm;
    },
    head() {
      return { title: this.$t('search.title') }
    },
    methods:{
      searchProducts(){
        // this.$emit('searchProduct')
        // console.log("Search Clicked")
        //this.$router.push('/search');
        // console.log("Ola");
      }
    }

  }
</script>

<style>
  @import '../scss/_search.scss';
</style>
