/*-------------------------------------------------------------------
[Header]
*------------------------------------------------------------------*/
.header{
  position: fixed;
  z-index: 99;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 14px;
  height: 60px;
  background: #7b4397;
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
  background: linear-gradient(to right, #dc2430, #7b4397);

  -webkit-box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);;
  box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);;

  -webkit-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -moz-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -o-transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition: top 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.header.hide{
  top: -60px;
}
.toggle-sidebar{
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  padding: 18px;
  background-color: rgba(0,0,0,0.05);
  float: left;
}
.logo-box{
  width: 150px;
  height: 35px;
  display: block;
  float: left;
  margin: 14px;
}
.logo-box h1{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.logo{
  width: 160px;
  height: 32px;
  display: block;
  background: url('../assets/logo.svg') center bottom no-repeat ; /*require('~/assets/logo-kmaleon.png') /*url("../static/logo-kmaleon.png");*/
}
.header-menu{
  display: inline-block;
  float: left;
}
.header-navigation, .header-navigation ul{
  list-style: none;
  padding: 0;
  margin:0;
}
.header-navigation > li{
  float: left;
  position: relative;
}
.header-navigation > li > a{
  display: table-cell !important;
  vertical-align: middle;
  height: 60px;
  line-height: normal;
  color: #FFF;
  font-weight: 600;
  padding: 0 15px;
  text-decoration: none;
}
.header-navigation > li > a .material-icons{
  vertical-align: middle;
  top: -1px;
  position: relative;
}
.header-navigation > li > a.active{
  box-shadow: inset 0 -2px 0 0 #fff;
}
.header-submenu{
  background-color: #fff;
  position: absolute;
  top: 100%;
  min-width: 100%;
  left: 0;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
  transform-origin: left top 0px;
  display: none;

  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  -webkit-transform: scale(0);
  -khtml-transform: scale(0);
  transform: scale(0);
  -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 2px 8px 0 rgba(0,0,0,.12);
  -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16),0 2px 8px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.16), 0 2px 8px 0 rgba(0,0,0,.12);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, SizingMethod='auto expand');
}
.header-submenu ul li{
  display: block;
  width: 100%;
}
.header-submenu ul li a{
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: #444;
  white-space: nowrap;
}
.header-submenu ul li a:hover{
  background-color: #EEE;
}
.header-submenu.active{
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix( M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand');
}
.header-right{
  display: inline-block;
  float: right;
}
.header-right.with-seperator .header-navigation li{
  border-left: solid 1px rgba(0,0,0,0.1);
}
.header-right .header-navigation .header-submenu{
  transform-origin: right top 0px;
  left: auto;
  right: 0;
}
.search-bar{
  position: absolute;
  width: 100%;
  height: 60px;
  top: -70px;
  left: 0;
  background: #7b4397;
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
  background: linear-gradient(to right, #dc2430, #7b4397);

  -webkit-transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -moz-transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -o-transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition: top 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.search-bar.active{
  top: 0;
}
.search-form{
  max-width: 1160px;
  width: 100%;
  height: 40px;
  margin: 10px auto;
  display: block;
  font-size: 14px;
  position: relative;
}
.search-input-wrapper{
  left: 20px;
  top: 0;
  right: 60px;
  bottom: 0;
  height: 40px;
  position: absolute;
}
.search-input{
  width: 100%;
  height: 40px;
  background-color: rgba(255,255,255,.2);
  border:none;
  padding: 0 54px 0 14px;
  display: block;
  color: #FFF;
  outline: none;
  font-size: 14px;
}
.search-input:focus{
  background-color: rgba(255,255,255,.3);
}
.search-submit{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  padding: 8px;
  background: none;
  color: #FFF;
  border:none;
  cursor: pointer;
  outline: none;
}
.search-submit:hover{
  background-color: rgba(255,255,255,.1);
}
.search-close{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 0;
  background: none;
  border:none;
  padding: 8px;
  outline: none;
  cursor: pointer;
  color: #FFF;
}
/*end of part Header----------------------------------------------------*/
