<template>
  <section class="main-content">
    <div class="main-content-wrapper">
      <div class="content-main">
        <div class="content-timeline">
          <!--Timeline header area start -->
          <div class="post-list-header">
            <span class="post-list-title"> Cadastro Produto</span>
          </div>
          <!--header area stop -->

          <div class="col-md-12">
            <form role="form" class="form">
              <!--<h2>Edit your profile.<small>It's always easy</small></h2>-->

              <hr class="colorgraph">

              <small>Descrição</small>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="product_name" id="product_name" class="form-control input-lg" placeholder="Nome do produto" tabindex="1">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="product_lang" id="product_lang" class="form-control input-lg" placeholder="Idiomas" tabindex="2">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea rows="4"  type="text" name="product_about" id="product_about" class="form-control input-lg" placeholder="Sobre" tabindex="3"/>
              </div>

              <small>Melhor para</small>
              <hr>

              <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9">
                  <div class="form-group">
                    <input type="text" name="who_use" id="who_use" class="form-control input-lg" placeholder="Quem usa?" tabindex="4">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3">
                  <div class="form-group">
                    <input type="text" name="number_users" id="number_users" class="form-control input-lg" placeholder="Quantos usuários?" tabindex="5">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <small>Preços</small>
                    <hr>
                    <table>
                      <tbody>
                      <tr>
                        <td>Preço inicial</td>
                        <td><input type="text" name="start_price" id="start_price" class="input-lg" tabindex="10"></td>
                      </tr>
                      <tr>
                        <td>Teste gratis</td>
                        <td><switch-box id="freemium" v-model="product.freemium"></switch-box></td>
                      </tr>
                      <tr>
                        <td>Versão Gratuita</td>
                        <td><switch-box id="free_version" v-model="product.free_version"></switch-box></td>
                      </tr>
                      <tr>
                        <td>Detalhes de preço</td>
                        <td><input type="text" name="details_price" id="details_price" class="input-lg" tabindex="10"></td>
                      </tr>
                      <tr>
                        <td>Planos</td>
                        <td><input type="text" name="plans" id="plans" class="input-lg" tabindex="10"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <br><br>
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <small>Aplicativos</small>
                    <hr>
                    <table>
                      <tr>
                        <th class="material-icons">android</th>
                        <th class="material-icons"><i class="fa fa-apple" aria-hidden="true"></i>
                        </th>
                        <th class="material-icons">cloud</th>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <small>Detalhes do produto</small>
                  <hr>

                  <table class="table">

                    <tr>
                      <th> Plataformas </th>
                      <th>Online</th>
                      <th>Instalado</th>
                    </tr>
                    <tr>
                      <td>Windows</td>
                      <td>Sim</td>
                      <td>Não</td>
                    </tr>
                    <tr>
                      <td>MacOs</td>
                      <td>Sim</td>
                      <td>Sim</td>
                    </tr>
                    <tr>
                      <td>Linux</td>
                      <td>Sim</td>
                      <td>Sim</td>
                    </tr>
                    <tr>
                      <td colspan="3">Dispositivos Móveis </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Android</td>
                      <td>Sim</td>
                      <td>Sim</td>
                    </tr>
                    <tr>
                      <td>iOS</td>
                      <td>Sim</td>
                      <td>Sim</td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <small>Caracteristicas</small>
                  <hr>
                  <div class="form-group">
                    <input-tag :idKey="input-characteristics" :tags="product.characteristics"></input-tag>
                  </div>
                </div>
              </div>

              <small>Treinamento e Suporte</small>
              <hr>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="product_staf" id="product_staf" class="form-control input-lg" placeholder="Quais meios de suporte e apoio?" tabindex="6">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="product_training" id="product_training" class="form-control input-lg" placeholder="Modos de treinamentos?" tabindex="7">
                  </div>
                </div>
              </div>


              <hr class="colorgraph">

              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-9"></div>

                <div class="col-xs-12 col-sm-6 col-md-3"><a href="#" class="btn btn-success btn-block btn-lg">Salvar</a></div>
                <div class="col-xs-12 col-sm-6 col-md-3"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

  import InputTag from '~/components/InputTag';

  import SwitchBox from '~/components/SwitchCheckbox';

  const vm ={
    product:{
      freemium: false,
      free_version: false,

      characteristics:[ 
        "Colaboração",
        "Misturas de dados",
        "Limpeza de dados",
        "Mineração de dados",
        "Visualização de dados",
        "Armazenamento de dados",
        "Processamento de Alto Volume",
        "Sandbox sem código",
        "Análise preditiva",
        "Modelos"
      ]

    },

    settings: {create:true}, // https://github.com/selectize/selectize.js/blob/master/docs/usage.md
    selected: 1
  };

  export default {
    name: "product",
    components: {
      SwitchBox,
      InputTag
    },
    data() {
      return vm;
    }

  }
</script>

<style lang="scss" scoped>
  @import "../node_modules/selectize/dist/css/selectize.bootstrap3.css";
</style>
