<template>
  <section class="main-content">
    <div class="main-content-wrapper">
      <div class="content-body">
        <div class="content-timeline">
          <!--Timeline header area start -->
          <div class="post-list-header">
            <span class="post-list-title"> CRM </span>
          </div>
          <!--Timeline header area end -->


          <!--Timeline items start -->
          <div class="timeline-items">

            <div class="timeline-item">
              <div class="timeline-left">
                <div class="timeline-left-wrapper">
                  <!--<a href="#" class="timeline-category" data-zebra-tooltip title="Technology"><i class="material-icons">&#xE894;</i></a>-->
                  <!--<span class="timeline-date">3 min ago</span>-->
                </div>
              </div>
              <div class="timeline-right">
                <div class="timeline-post-image">
                  <a href="#">
                    <img src="~/assets/news-img8.jpg" width="260">
                  </a>
                </div>
                <div class="timeline-post-content">
                  <a href="#" class="timeline-category-name">DESTAQUE</a>
                  <a href="#" class="timeline-category-name">CRM</a>
                  <a href="#">
                    <h3 class="timeline-post-title">Sales Force</h3>
                    <span>the best and complete CRM for you! ...</span>
                  </a>
                  <div class="timeline-post-info">
                    <a href="#" class="author">Sales Force</a>
                    <span class="dot"></span>
                    <span class="comment">100 pessoas aprovam</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-left">
                <div class="timeline-left-wrapper">
                  <!--<a href="#" class="timeline-category" data-zebra-tooltip title="Technology"><i class="material-icons">&#xE894;</i></a>-->
                  <!--<span class="timeline-date">3 min ago</span>-->
                </div>
              </div>
              <div class="timeline-right">
                <div class="timeline-post-image">
                  <a href="#">
                    <img src="~/assets/news-img7.jpg" width="260">
                  </a>
                </div>
                <div class="timeline-post-content">
                  <a href="#" class="timeline-category-name">CRM</a>
                  <a href="#">
                    <h3 class="timeline-post-title">Totvs</h3>
                    <span> Descrição do produto da totvs aqui!</span>
                  </a>
                  <div class="timeline-post-info">
                    <a href="#" class="author">Totvs</a>
                    <span class="dot"></span>
                    <span class="comment">32 pessoas aprovaram</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-left">
                <div class="timeline-left-wrapper">
                  <!--<a href="#" class="timeline-category" data-zebra-tooltip title="Technology"><i class="material-icons">&#xE894;</i></a>-->
                  <!--<span class="timeline-date">3 min ago</span>-->
                </div>
              </div>
              <div class="timeline-right">
                <div class="timeline-post-image">
                  <a href="#">
                    <img src="~/assets/news-img6.jpg" width="260">
                  </a>
                </div>
                <div class="timeline-post-content">
                  <a href="#" class="timeline-category-name">CRM</a>
                  <a href="#">
                    <h3 class="timeline-post-title">ZOHO</h3>
                    <span>Feature Rich and Suitable for Businesses of all sizes and Industries.</span>
                  </a>
                  <div class="timeline-post-info">
                    <a href="#" class="author">ZOHO ONline</a>
                    <span class="dot"></span>
                    <span class="comment">01 pessoas aprovaram</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-left">
                <div class="timeline-left-wrapper">
                  <!--<a href="#" class="timeline-category" data-zebra-tooltip title="Technology"><i class="material-icons">&#xE894;</i></a>-->
                  <!--<span class="timeline-date">3 min ago</span>-->
                </div>
              </div>
              <div class="timeline-right">
                <div class="timeline-post-image">
                  <a href="#">
                    <img src="~/assets/news-img5.jpg" width="260">
                  </a>
                </div>
                <div class="timeline-post-content">
                  <a href="#" class="timeline-category-name">CRM</a>
                  <a href="#">
                    <h3 class="timeline-post-title">PipeDrive</h3>
                    <span>A Sales CRM Built For Minimum Input & Maximum Output. Try Us Free For 14-Days. </span>
                  </a>
                  <div class="timeline-post-info">
                    <a href="#" class="author">PipeDrive</a>
                    <span class="dot"></span>
                    <span class="comment">32 Pessoas aprovaram</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Timeline items end -->

          <!--Data load more button start  -->
          <div class="load-more">
            <button class="load-more-button material-button" type="button">
              <i class="material-icons">&#xE5D5;</i>
              <span> Carregar mais </span>
            </button>
          </div>
          <!--Data load more button start  -->
        </div>

      </div>
      <div class="content-sidebar">
        <div class="sidebar_inner">

          <div class="widget-item">
            <a href="#" class="widget-ad-box">
              <img src="~/assets/adbox300x600.png" width="300" height="600">
            </a>
          </div>

          <div class="widget-item">
            <div class="w-header">
              <div class="w-title">Opção</div>
              <div class="w-seperator"></div>
            </div>
            <div class="w-boxed-post">
              <ul>
                <li class="active">
                  <a href="#" style="background-image: require(~/assets/news-img7.jpg);">
                    <div class="box-wrapper">
                      <div class="box-left">
                        <span>1</span>
                      </div>
                      <div class="box-right">
                        <h3 class="p-title">Loren Ippuns sit a dolor daham daenrys dragun</h3>
                        <div class="p-icons">
                          Loren Ippsun
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" style="background-image: require(~/assets/news-img5.jpg);">
                    <div class="box-wrapper">
                      <div class="box-left">
                        <span>2</span>
                      </div>
                      <div class="box-right">
                        <h3 class="p-title">Loren Ippuns sit a dolor daham daenrys dragun</h3>
                        <div class="p-icons">
                          Loren Ippsun
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" style="background-image: require(~/assets/news-img6.jpg);">
                    <div class="box-wrapper">
                      <div class="box-left">
                        <span>3</span>
                      </div>
                      <div class="box-right">
                        <h3 class="p-title">Loren Ippuns sit a dolor daham daenrys dragun</h3>
                        <div class="p-icons">
                          Loren Ippsun
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="seperator"></div>

          <a href="#" class="widget-ad-box">
            <img src="~/assets/adbox300x250.png" width="300" height="250">
          </a>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    head() {
      return { title: this.$t('search.title') }
    }
  }
</script>

